body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}
.header {
    background-color: #373c44;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}
.navbar-brand {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}
.navbar-brand b {
    font-weight: 900;
}
.nav-link {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}
.nav-link:hover,
.btn-su:hover {
    color: #ccc; !important;
}
.nav-link a:active{
    color: #c6b2c3;
}

.btn-su {
    background-color: #373c44;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 2px;
}


.username {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

.footer {
    background-color: #373c44;
    font-size: 14px;
    font-weight: 400;
    color: #aeb0b2;
    text-align: right;
}
.footer em {
    text-transform: none;
    margin-left: 40px;
    font-style: normal;
}
.sbch,
.su-foot {
    background-color: #373c44;
    color: #fff;
}
.sf-btn {
    color: #fff;
}